#pantalla{
    width: 40rem;
    height: 65rem;
    border: 1px solid black;
    
    margin: auto;
    margin-top: 0.6rem;
}
header{
    width: 40rem;
    height: 8rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 1 rem;
    padding-left: 4rem;
    font-family: monospace;
}
span{
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 2rem;
}
section{
    width: 40rem;
    height: 48rem;
    border: 1px solid black;
}
footer{
    width: 40rem;
    height: 9rem;
    border: 1px solid black;
}
.imagen{
    width: 5rem;
    height: 5rem;
    
}
.fila{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding: 2rem;
    gap: 2rem;
    
}
.bloque1{
    border: 1px solid black;
    width: 12rem;
    height: 12rem;
}
.bloque2{
    border: 1px solid black;
    width: 12rem;
    height: 12rem;
    padding-left: 2rem;
}
.bloque3{
    border: 1px solid black;
    width: 12rem;
    height: 12rem;
}
.bloque4{
    border: 1px solid black;
    width: 12rem;
    height: 12rem;
}
.bloque5{
    border: 1px solid black;
    width: 12rem;
    height: 12rem;
}
.bloque6{
    border: 1px solid black;
    width: 12rem;
    height: 12rem;
}


