#pantalla{
    width: 40rem;
    height: 65rem;
    border: 1px solid black;
    display: flex;
    margin: auto;
    margin-top: 0.6rem;
}
header{
    width: 40rem;
    height: 8rem;
    border: 1px solid black;
}
section{
    width: 40rem;
    height: 48rem;
    border: 1px solid black;
}
footer{
    width: 40rem;
    height: 9rem;
    border: 1px solid black;
}
